/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a{
  text-decoration: none
}
img{
  max-width: 100%;
  height: auto;
}
body{
    background-color: #FFFFFF;
}
.wrap{
    width: 1024px;
    height: 100%;
    margin:auto;
}
.header{
    background: url(https://img.onl/t2LPvv);
    max-width: 100%;
    height: 380px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.title{
    font-family: PingFangTC-Regular;
    font-size: 3.5rem;
    color: #fff!important;
    letter-spacing: 3.89px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box #chooseArea{
  font-weight: bold;
  width: 40%;
  background: rgba(255, 255, 255, 0.70);
  border: 3px solid #FFFFFF;
  border-radius: 3px;
  line-height: 21px;
  font-size: 24px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box #chooseArea:hover{
    cursor: pointer;
}
.header .hot-region{
    width: 800px;
    height: 112px;
    position: absolute;
    top:352px;
    margin-left: 112px;
    background: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
    border-radius: 5px;
}
.header .hot-region>h1{
    margin-top: 20px;
    margin-left: 26px;
    font-size: 18px;
}
.hot-region .place{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.hot-region .place>input{
    width: 130px;
    height: 42px;
    font-size: 20px;
    color: white;
}
.famousAreaLink{
    margin-top: 0;
    margin-bottom: 1rem;
    box-sizing: border-box;
    display: flex;
    padding-left: 0;
}
.famousAreaLink .button{
    width: 15%;
    margin: 2% auto;
    border-radius: 5px;
    box-sizing: border-box;
    display: list-item;
    
}
.famousAreaLink a{
    text-align: center;
    font-size: 24px;
    padding: 11px 0;
    color: #fff!important;
    height: 100%!important;
    display: block!important;
    text-decoration: none;
    background-color: transparent;
}
.famousAreaLink .btn1, .famousAreaLink .btn2, .famousAreaLink .btn3, .famousAreaLink .btn4:hover{
    cursor: pointer;
}
.line{
    width: 900px;
    border-top:1px dashed  #559AC8;
    height: 1px;
    overflow:hidden;
    position: absolute;
    top:513px;
    margin-left: 50px;
}
.header .img{
    position: absolute;
    top:500px;
    border: 2px solid #559AC8;
    border-radius: 50%;   
    margin-left: 500px;
    width: 24px;
    height: 24px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    width: 1024px;  
    margin-top: 200px;
}
.areaName{
    display: block;
    font-size: 36px;
    color: #8A82CC;
    text-align: center!important;
    margin-bottom: 1.5rem!important;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 auto;
}
.list{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
}
.list li{
  background: #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
  margin: 20px 0;
  width: 464px;
  height: 285px;
  position: relative;
  overflow: hidden;
}
.list li:nth-child(even) {
  margin-left: auto;
}

.list li .bigimg{
  width: 464px;
  height: 155px;
}
.list li h3{
  background-color: rgba(0, 0, 0, .4);
  font-family: SFNSDisplay;
  font-size: 1.5rem;
  color: #FFFFFF;
  position: absolute;
  bottom: 47%;
  left: 3%;
}
.list li h4{
  background-color: rgba(0, 0, 0, .4);
  font-family: PingFangTC-Regular;
  font-size: 16px;
  color: #FFFFFF;
  position: absolute;
  bottom: 47%;
  right: 3%;
}
.sights{
  padding: 3px;
}
.icon1{
  display: flex;
  margin-bottom: .5rem!important; 
}
.icon1 img{
  margin-right: 2%;
}
.icon2{  
  display: flex;
  margin-bottom: .5rem!important;
}
.icon2 img{
  margin-right: 2%;
}
.icon3{
  display: flex;
  margin-bottom: .5rem!important;
}
.icon3 img{
  margin-left: 2px;
  margin-right: 2%;
}
.detail{
  display: block;
  max-width: 100px;
  padding: 10px 0;
  background-color: #6993e3;
  color: white;
  border-radius: 5px;
  transition: all 0.4s;
  margin: 0 auto 20px auto;
  text-align: center;
}

#goTop{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#goTop:hover{
  background-color: #555;
}

.screen {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.screen .view-box {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  transform: translate(-50%, -50%);
}

.screen .view-box .box {
  overflow: auto;
  max-height: 600px;
}

.screen .view-box .box .view-title{
  font-size: 22px;
  color: red;
  padding-bottom: 15px;
}

.screen .view-box .picture {
  margin-bottom: 40px;
}

.screen .view-box .picture img {
  width: 100%;
  height: auto;
}

.screen .view-box p {
  line-height: 2;
}

.screen .view-box b{
  font-size: 18px;
  color: blue;
}

.screen .view-box .cancel {
  position: absolute;
  z-index: 999;
  top: -30px;
  right: -20px;
  color: white;
  width: 50px;
  height: 50px;
  background-color: grey;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

#top {
  position: fixed;
  z-index: 60;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: rgba(128, 128, 128, 0.8);
  color: white;
  opacity: 0;
  border-radius: 50%;
  transition: all 0.4s;
  cursor: pointer;
}

#top.active {
  opacity: 1;
}

.under{
  width: 1024px;
  height: 148px;
  bottom: 0;
}
.pages{
  height: 58px;
  background: #000;
}
.from-data{
  width: 1024px;
  height: 90px;
  background: #559AC8;
  overflow: hidden;
}
.from-data h2{
  font-family: AppleSystemUIFont;
  font-size: 14px;
  color:white;
  padding-top: 24px;
  text-align: center;
}
.from-data a{    
  font-family: AppleSystemUIFont;
  font-size: 14px;
  color: #FFD366;
  margin-top: 19px;
  text-align: center; 
  display: block;
}

@media (max-width: 1024px){
  .list{
    margin: 0 25px;
  }
}
